{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}
    Signup
{% endblock page_title %}

{% block content %}
      <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                  </div>
                    <div class="mask d-flex align-items-center h-80 gradient-custom-3">
        <div class="container h-30">
            <div class="row d-flex justify-content-center align-items-center h-80">
                <div class="col-16 col-md-16 col-lg-16 col-xl-16 ">
                    <div class="card" style="border-radius: 20px;">
                        <div class="card-body p-5">
                            <h3 class="text-uppercase text-center mt-6 ">ایجاد حساب کاربری</h3>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <label>شماره موبایل:
                                        <input name="phone" class="form-control">
                                </label>
                                <br><br>
                                <label>رمز عبور:
                                        <input name="password" class="form-control">
                                </label>
                                <br><br>
                                    <label>تکرار رمز عبور:
                                        <input name="password" class="form-control">
                                    </label>
                                <br><br>
                                <button type="submit" class="btn btn-success">ثبت نام</button>
                            </form>
                        </div>
{#                  <div class="col-lg-12">#}
{#                    <div class="white-button first-button scroll-to-section">#}
{#                      <a href="#contact">Free Quote <i class="fab fa-apple"></i></a>#}
{#                    </div>#}
{#                    <div class="white-button scroll-to-section">#}
{#                      <a href="#contact">Free Quote <i class="fab fa-google-play"></i></a>#}
{#                    </div>#}
{#                  </div>#}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}





{#<form method="POST">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Submit">#}
{#</form>#}
