{% extends '_base.html' %}

{% load static %}
{% block page_title %}
    Verify
{% endblock page_title %}


{% block content %}
    <div class="container">
        <div class="container-login100" >
            <div class="wrap-login100">
                <div class="d-flex justify-content-center mt-5" dir="rtl" >
                    <div style="margin-top: 150px" >
                            <form action="{% url 'verify' %}" method="post">
                                {% csrf_token %}
                                <label >کد تایید:
                                    <input name="code">
                                </label>
                                <button type="submit" class="btn btn-success btn-sm">تایید</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}