{% extends '_base.html' %}

{% block page_title %}
    Contact us
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Page title -->
                <div class="my-3 left">
                    <h3 style="margin-top: 150px">ارتباط با ما:</h3>
                    <hr>
                    <lable> شماره تماس: 09129574824
                    </lable>
                    <br><br>
                    <lable>آدرس: آرژانتین، خیابان عماد مغنیه</lable>
                    <br><br>
                    <lable>آدرس ایمیل:azin.barghdost137575@gmail.com</lable>
                </div>
            </div>
        </div>
    </div>
{% endblock %}