{% extends '_base.html' %}

{%  load crispy_forms_tags %}

{% block page_title %}
    Profile
{% endblock page_title %}

{% block content %}
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-30">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card" style="border-radius: 20px;">
                        <div class="card-body p-5">
                            <h3 class="text-uppercase text-center mt-6 ">پروفایل کاربری</h3>
                            <form action="{% url 'profile' %}" method="post">
                                {% csrf_token %}
                                <label>نام:
                                        <input name="name">
                                </label>
                                <label>نام خانوادگی:
                                        <input name="name">
                                </label>
                                    <label>جنسیت:
                                        <input name="password">
                                    </label>
                                <button type="submit" class="btn btn-success">Sign Up</button>
                                <button type="submit" class="btn btn-success mt-2">ذخیره</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}